<!DOCTYPE html>
<html>
<head>
<style> 
#s_id {
  animation-duration: 3s;
  animation-name: slidein;
   font-size: 24px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

</style>
</head>
<body style="background-color:powderblue;">
<h1 align="center" style="color:blue;">Welcome to Vishwas!</h1>
<a href="home">Home</a><br>
<p id="s_id" style="color:red;"><strong>Note:</strong> This webpage in Under Development.</p>

{% block content %}

{% endblock %}
</body>
</html>
